[mysqld]
sql_mode =
innodb_strict_mode = 0
character-set-server = utf8mb4
collation-server = utf8mb4_0900_ai_ci

# Connection settings
max_connect_errors = 10000
thread_cache_size = 16

# InnoDB settings
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
innodb_adaptive_hash_index = 1

# Slow query log
slow_query_log = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time = 2

# Performance schema
performance_schema = 1

[client]
default-character-set = utf8mb4
